p {
text-align: left;
font-family:'Eczar', serif;;
font-size: 15px;
color: #b1938b;
text-indent: 50px; 
line-height: 1.5;

}


h1 {
font-family: 'Eczar', serif;
text-decoration: bold;
    
}



div.notes /* name of your class here */ {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 1000px;
  margin-left: 80px;   
}


body /* if you want the background for the whole page, you should use the "body" selector */ {
font-family:'Eczar', serif;
color:black; 
background-color:#fffee9;
font-size:18px;
width:0;
height:0;
margin-right:20px;
margin-left:0px;
padding:0px;

 }
